.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
aside{
    border: 1px solid #383838;
    border-radius: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.canto{
    display: flex;
    justify-content: end;
}
.btn-canto{
    display: flex;
    width: 32px;
    height: 24px;
    justify-content: center;
    border-radius: 0 20px 0 12px;
    background-color: #ff3939;
}
.btn-canto > img{
    width: 12px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 16px;
    padding: 16px 0;
}
.caixaPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3d;
    width: 80px;
    height: 78px;
    border-radius: 20px;
}
.caixaPerfil > img{
    width: 60px;
}

.texto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textoLinks{
    text-align: start;
}

.subText{
    color: #9F9F9F;
    text-transform: uppercase;
}

.informacoes{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.caixaDev{
    background-color: #3C3C3D;
    border-radius: 8px;
    width: 60%;
    padding: 8px;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.barraLinha{
    width: 100%;
    height: 1px;
    background-color: #9F9F9F;
}

.iconesSociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    align-items: center;
}