.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 16px;
}

.coluna {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: auto;
}

input,
textarea {
  height: 55px;
  padding: 16px;
  border-radius: 10px;
  background-color: #1e1e1f;
  border: 1px solid #383838;
  color: #9f9f9f;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transições suaves */
}

textarea {
  height: 122px;
}

input:focus,
textarea:focus {
  border-color: #fcce68;
  outline: none; /* Remove a borda padrão de foco */
  box-shadow: 0 0 5px rgba(252, 206, 104, 0.5); /* Efeito de brilho */
}

.contato-section > .container > .linha {
  align-items: center;
}

.btn-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background: radial-gradient(circle at 0% 100%, #383838, #202022);
  border: 1px solid #383838;
  color: #fcce68;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease; /* Transição suave para todas as propriedades */
}

.btn-form:hover {
  background: radial-gradient(circle at 0% 100%, #383838, #202022);
  border: 1px solid #fcce68;
  color: #fcce68;
}

.btn-form:active {
  transform: scale(0.95); /* Efeito de "pressionar" */
  opacity: 0.7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra sutil ao clicar */
}