.navbar-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28282975;
  border: 1px solid #383838;
  backdrop-filter: blur(8px);
  cursor: pointer;
  border-radius: 20px;
  margin: 0 16px 16px 16px;
  height: 65px;
  box-shadow: 0px 0px 20px 0px rgb(0, 0, 0);
  gap: 16px;
  width: 358px;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.nav-link {
  background-color: transparent;
  color: #ffffffd7;
  border: none;
  transition: color 0.3s ease, transform 0.1s ease, box-shadow 0.2s ease;
}

.nav-link:hover {
  color: #ffc763;
}

.nav-link:active {
  color: #ffc763;
  transform: scale(0.95);
  opacity: 0.7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.textoNav {
  font-size: 16px;
  margin: 0;
}
