*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
    user-select: none
}

h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: #12bcff;
}
h1:hover{
    color: #ffffff;
}